PORT=3000
NODE_ENV=development
API_PREFIX=api
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=pos_user
POSTGRES_PASSWORD=pos_password_secret
POSTGRES_DB=pos_db
JWT_SECRET=super_secret_pos_jwt_key_2026
